---
import DarkLayout from "@/layouts/DarkLayout.astro";
import MicroButton from "@/components/MicroButton.astro";
import MicroDate from "@/components/MicroDate.astro";

import computer from "@/assets/computer.mp4";
---

<DarkLayout
  showGrid={true}
  showHomeLink={true}
  homePageHint="Design and development services offering"
>
  <div class="Offering">
    <video autoplay loop class="Offering_video">
      <source src={computer} type="video/mp4" />
      Your browser does not support the video tag.
    </video>

    <div>
      <h1>Superfancy Custom Micro Landing page</h1>

      <p>
        Feel free to explore the current solution on my GitHub. It's kinda
        modular, Astro-based, static built. It doesn't consume a lot of
        resources and flawlessly works on a basic VPS (it might work on cheap
        website hosting).
      </p>
      <p>
        <MicroButton
          url="https://github.com/alexander-litvinovich/litvinovich.dev"
          variant="primary"
          label="Repo on GitHub"
          newWindow={true}
        />
      </p>
    </div>
    <div class="Offering_paper">
      <h2>Coding is not your thing?</h2>
      <p>
        Looking for a unique and personalized web presence? I specialize in
        creating custom-tailored web solutions that perfectly fit your needs.
        Whether it's a personal blog, a portfolio, or a business website, I can
        help bring your vision to life with a modern, responsive, and efficient
        design and code.
      </p>
      <p>
        Let's collaborate to build a website that stands out and delivers an
        exceptional user experience. Contact me to discuss your project and get
        started on creating something amazing together.
      </p>
      <p>
        <MicroButton
          url="https://www.linkedin.com/in/alexander-litvinovich/"
          variant="primary"
          intent="success"
          label="Write on LinkedIn"
          newWindow={true}
        />
      </p>
    </div>
    <MicroDate />
  </div>
</DarkLayout>

<style>
  .Offering {
    padding: var(--side-paddings);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
  }

  .Offering_video {
    width: 100%;
    height: auto;
    border-radius: 16px;
  }

  .Offering_paper {
    padding: 8px 24px;
    background-color: var(--color-paper);
    border-radius: 16px;
  }
</style>
