---
import { Image } from "astro:assets";

const { title = "", desc, src, url = "" } = Astro.props;

const Element = url.length ? "a" : "div";
---

<Element class="AppIcon" href={url} target="_blank">
	<div class="AppIcon_shape">
		<Image class="AppIcon_image" src={src} alt={title} />
	</div>
	<div class="AppIcon_text">
		<div class="AppIcon_title">{title}</div>
		<div class="AppIcon_desc">{desc}</div>
	</div>
</Element>

<style>
	.AppIcon {
		display: flex;
		flex-direction: column;
		gap: 16px;

		align-items: center;
		justify-content: center;
		user-select: none;
		text-decoration: none;

		color: var(--color-ink-50);

		cursor: pointer;
	}

	.AppIcon_image {
		width: 100%;
		height: 100%;
	}

	.AppIcon_shape {
		width: 128px;
		aspect-ratio: 1;
		background-color: var(--color-ink-50);

		border-radius: 32px;
		overflow: hidden;
	}

	@media (pointer: fine) {
		.AppIcon_shape {
			opacity: 0.8;
		}

		.AppIcon_shape,
		.AppIcon_title,
		.AppIcon_desc {
			transition: all 0.2s ease;
		}

		.AppIcon:hover .AppIcon_shape {
			opacity: 1;
			transform: scale(1.05);
		}

		.AppIcon:hover .AppIcon_title {
			color: var(--color-ink);
		}

		.AppIcon:hover .AppIcon_desc {
			opacity: 1;
		}
	}

	.AppIcon_text {
		display: flex;
		flex-direction: column;
		gap: 8px;
		align-items: center;
		justify-content: center;
	}

	.AppIcon_title {
		text-align: center;
		font-size: 18px;
		font-weight: 600;
		line-height: 20px;
	}

	.AppIcon_desc {
		text-align: center;
		font-size: 16px;
		line-height: 20px;
		opacity: 0.6;
	}
</style>
