---
import appleTouchIcon from "@/assets/favicon/apple-touch-icon.png";
import "@/assets/ui.css";
import icon16 from "@/assets/favicon/favicon-16x16.png";
import icon32 from "@/assets/favicon/favicon-32x32.png";

const {
  head = {
    title: "Alexander Litvinovich",
    description: "",
  },
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href={appleTouchIcon.src} />
    <link rel="icon" type="image/png" sizes="32x32" href={icon32.src} />
    <link rel="icon" type="image/png" sizes="16x16" href={icon16.src} />

    <meta name="msapplication-TileColor" content="#26242F" />
    <meta name="theme-color" content="#26242F" />
    <meta name="generator" content={Astro.generator} />
    <title>{head.title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style></style>
